################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dp_ex1_2/v15
/C19 Ex01 Omer 204059331 Andrey 321082513.sln/.vs/C19 Ex01 Omer 204059331 Andrey 321082513/v15/Server/sqlite3
/C19 Ex01 Omer 204059331 Andrey 321082513.sln/.vs/C19 Ex01 Omer 204059331 Andrey 321082513/v15/.suo
